In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv('C:/Users/TDias/Documents/GitHub/ETA/Datasets/survey.csv')
data.head(10)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,...,Don't know,No,No,No,No,No,No,No,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,...,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN

#Columns

Timestamp

Age

Gender

Country

state: If you live in the United States, which state or territory do you live in?

self_employed: Are you self-employed?

family_history: Do you have a family history of mental illness?

treatment: Have you sought treatment for a mental health condition?

work_interfere: If you have a mental health condition, do you feel that it interferes with your work?

no_employees: How many employees does your company or organization have?

remote_work: Do you work remotely (outside of an office) at least 50% of the time?

tech_company: Is your employer primarily a tech company/organization?

benefits: Does your employer provide mental health benefits?

care_options: Do you know the options for mental health care your employer provides?

wellness_program: Has your employer ever discussed mental health as part of an employee wellness program?

seek_help: Does your employer provide resources to learn more about mental health issues and how to seek help?

anonymity: Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?

leave: How easy is it for you to take medical leave for a mental health condition?

mental_health_consequence: Do you think that discussing a mental health issue with your employer would have negative consequences?

phys_health_consequence: Do you think that discussing a physical health issue with your employer would have negative consequences?

coworkers: Would you be willing to discuss a mental health issue with your coworkers?

supervisor: Would you be willing to discuss a mental health issue with your direct supervisor(s)?

mental_health_interview: Would you bring up a mental health issue with a potential employer in an interview?

phys_health_interview: Would you bring up a physical health issue with a potential employer in an interview?

mental_vs_physical: Do you feel that your employer takes mental health as seriously as physical health?

obs_consequence: Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?

comments: Any additional notes or comments

In [6]:
data.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [7]:
data['Country'].value_counts()

United States             751
United Kingdom            185
Canada                     72
Germany                    45
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Poland                      7
Sweden                      7
Italy                       7
Switzerland                 7
Belgium                     6
Brazil                      6
South Africa                6
Israel                      5
Singapore                   4
Bulgaria                    4
Russia                      3
Mexico                      3
Austria                     3
Finland                     3
Croatia                     2
Colombia                    2
Portugal                    2
Greece                      2
Denmark                     2
Slovenia                    1
Nigeria                     1
Bahamas, The                1
Costa Rica                  1
China                       1
Philippines                 1
Czech Republic              1
Zimbabwe                    1
Thailand                    1
Norway                      1
Hungary                     1
Spain                       1
Georgia                     1
Uruguay                     1
Moldova                     1
Latvia                      1
Japan                       1
Romania                     1
Bosnia and Herzegovina      1
Name: Country, dtype: int64

In [8]:
data=data[data['Country']=='United States']
data

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2015-08-25 19:59:38,36,Male,United States,UT,No,Yes,No,Rarely,More than 1000,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [9]:
data.isnull().sum()

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                         11
self_employed                 11
family_history                 0
treatment                      0
work_interfere               144
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     647
dtype: int64

In [10]:
data.dropna(subset=['state'],inplace=True)

In [11]:
data.isnull().sum()

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                          0
self_employed                 11
family_history                 0
treatment                      0
work_interfere               141
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     638
dtype: int64

In [12]:
data[data['self_employed']=='Yes']

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
31,2014-08-27 11:38:55,31,Male,United States,PA,Yes,Yes,No,Rarely,1-5,...,Somewhat difficult,Yes,No,No,No,No,No,No,Yes,NaN
69,2014-08-27 11:52:44,34,Male,United States,NY,Yes,No,No,Rarely,1-5,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN
77,2014-08-27 11:57:54,31,Male,United States,WA,Yes,Yes,No,Sometimes,1-5,...,Somewhat difficult,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
83,2014-08-27 12:03:30,27,Cis Female,United States,NY,Yes,No,Yes,Often,1-5,...,Very easy,Maybe,Maybe,Some of them,Yes,No,Maybe,Yes,No,NaN
164,2014-08-27 12:46:03,33,F,United States,WA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,No,No,Some of them,Yes,No,Yes,Yes,No,Many of these questions become irrelevant once...
215,2014-08-27 13:07:46,27,female,United States,MI,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,No,No,Some of them,No,No,No,Don't know,No,Many of these questions were difficult to answ...
312,2014-08-27 14:25:41,36,Male,United States,WA,Yes,No,Yes,Never,1-5,...,Somewhat easy,Maybe,No,Some of them,Yes,No,No,Yes,No,NaN
328,2014-08-27 14:31:44,30,Male,United States,OH,Yes,No,No,Never,1-5,...,Don't know,Maybe,No,Some of them,Some of them,No,Maybe,Don't know,No,NaN
337,2014-08-27 14:38:13,29,F,United States,CA,Yes,No,No,Sometimes,More than 1000,...,Very easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
359,2014-08-27 14:58:01,29,M,United States,IN,Yes,No,No,NaN,1-5,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
362,2014-08-27 15:04:41,26,male,United States,OK,Yes,Yes,Yes,Rarely,100-500,...,Don't know,Maybe,No,Some of them,Yes,No,Yes,No,No,NaN
387,2014-08-27 15:24:22,29,Nah,United States,CA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,Yes,No,Some of them,No,No,Maybe,No,No,NaN
432,2014-08-27 15:38:27,33,male,United States,MS,Yes,No,Yes,Often,1-5,...,Somewhat easy,Yes,Maybe,Some of them,Some of them,Yes,Yes,Don't know,No,NaN
450,2014-08-27 15:53:39,43,Male,United States,MA,Yes,Yes,Yes,Often,6-25,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Yes,No,So much depends upon the organization.
487,2014-08-27 16:21:24,30,Male,United States,CA,Yes,Yes,Yes,Often,1-5,...,Very easy,No,No,Yes,Yes,No,No,Yes,No,NaN
493,2014-08-27 16:25:26,24,Female,United States,CA,Yes,Yes,Yes,Sometimes,1-5,...,Don't know,No,No,Some of them,Some of them,No,No,Don't know,Yes,NaN
497,2014-08-27 16:28:10,25,female,United States,CA,Yes,Yes,Yes,Often,1-5,...,Somewhat difficult,Yes,No,Some of them,No,No,Maybe,No,Yes,NaN
524,2014-08-27 17:22:29,36,M,United States,IL,Yes,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,No,Some of them,Yes,No,Yes,Yes,No,NaN
560,2014-08-27 19:17:07,65,Male,United States,FL,Yes,No,No,NaN,6-25,...,Very easy,Maybe,No,Some of them,No,No,No,Yes,No,NaN
601,2014-08-27 22:35:40,35,Male,United States,TN,Yes,Yes,No,NaN,6-25,...,Very easy,No,No,Yes,Yes,No,Maybe,Yes,No,The supposed divide between mental and physica...
603,2014-08-27 22:55:13,30,cis-female/femme,United States,WI,Yes,Yes,Yes,Often,1-5,...,Somewhat difficult,No,No,Yes,Yes,No,No,Yes,No,Because I'm self-employed and the only person ...
611,2014-08-27 23:56:33,42,Male,United States,WI,Yes,No,No,Rarely,6-25,...,Very easy,No,No,Some of them,Yes,Maybe,Maybe,Yes,No,NaN
615,2014-08-28 00:05:34,30,Male,United States,GA,Yes,No,Yes,Often,6-25,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,No,NaN
627,2014-08-28 02:17:42,34,male,United States,CA,Yes,Yes,Yes,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Some of them,No,No,No,No,thanks for what you're doing. FYI these questi...
701,2014-08-28 09:57:25,33,M,United States,WA,Yes,Yes,Yes,Rarely,1-5,...,Very difficult,No,No,Yes,Yes,No,No,Yes,Yes,NaN
707,2014-08-28 10:01:31,32,Male,United States,NY,Yes,No,Yes,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,Yes,Yes,Don't know,No,NaN
714,2014-08-28 10:07:37,32,Male,United States,PA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,Yes,Maybe,Some of them,No,No,No,No,No,NaN
717,2014-08-28 10:08:34,37,male,United States,NY,Yes,No,No,NaN,6-25,...,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
745,2014-08-28 11:07:23,30,Male,United States,TX,Yes,No,Yes,Sometimes,26-100,...,Don't know,No,No,Some of them,Some of them,No,Yes,Don't know,No,NaN
766,2014-08-28 11:50:06,33,Female,United States,AZ,Yes,Yes,Yes,Sometimes,1-5,...,Somewhat easy,Maybe,Yes,Some of them,No,No,No,No,No,NaN
771,2014-08-28 12:02:59,33,Male,United States,VA,Yes,Yes,Yes,Sometimes,1-5,...,Very easy,Maybe,Maybe,Yes,Yes,No,No,Yes,No,My current work situation was constructed in p...
783,2014-08-28 12:22:14,33,M,United States,CA,Yes,No,No,NaN,1-5,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
827,2014-08-28 15:37:04,40,M,United States,MI,Yes,No,No,Sometimes,1-5,...,Somewhat easy,Yes,Maybe,Some of them,No,No,No,Don't know,No,NaN
848,2014-08-28 16:57:07,40,m,United States,TN,Yes,Yes,Yes,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,No,No,Yes,No,NaN
875,2014-08-28 17:19:27,30,m,United States,CA,Yes,Yes,Yes,Sometimes,6-25,...,Very difficult,Yes,No,No,No,No,Maybe,Don't know,No,The main reason for the openness answers are b...
883,2014-08-28 17:23:19,36,male,United States,VA,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Yes,Yes,Yes,Yes,No,NaN
890,2014-08-28 17:33:20,42,male,United States,VA,Yes,Yes,No,Sometimes,6-25,...,Don't know,Maybe,Maybe,Some of them,No,No,Maybe,Don't know,No,NaN
891,2014-08-28 17:34:30,32,Male,United States,TN,Yes,Yes,Yes,Rarely,1-5,...,Very difficult,Yes,No,Some of them,No,No,Maybe,Don't know,No,NaN
898,2014-08-28 17:47:49,50,Male,United States,VA,Yes,No,No,Never,1-5,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,A lot of these answers aren't really applicabl...
902,2014-08-28 17:57:42,25,f,United States,CA,Yes,No,Yes,Often,1-5,...,Very easy,Maybe,Maybe,Some of them,Some of them,No,No,Yes,Yes,NaN
904,2014-08-28 17:59:54,51,m,United States,CO,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
916,2014-08-28 19:04:05,30,Male,United States,PA,Yes,No,No,Never,1-5,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
1011,2014-08-29 09:47:30,33,female,United States,TX,Yes,No,No,Never,1-5,...,Somewhat easy,Maybe,No,No,Some of them,No,No,Yes,No,NaN
1048,2014-08-29 11:27:47,41,Male,United States,IL,Yes,No,Yes,Often,1-5,...,Very difficult,No,No,Some of them,Some of them,No,No,Yes,Yes,NaN
1057,2014-08-29 11:44:33,33,male,United States,FL,Yes,No,No,Never,6-25,...,Very easy,Maybe,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1062,2014-08-29 12:00:33,44,M,United States,FL,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,No,No,No,No,Don't know,No,NaN
1076,2014-08-29 14:31:00,43,Male,United States,VA,Yes,Yes,Yes,Sometimes,1-5,...,Don't know,Maybe,Maybe,Some of them,Some of them,No,Maybe,Don't know,No,This survey was tough as a self-employed indiv...
1090,2014-08-29 17:26:15,11,male,United States,OH,Yes,No,No,Never,1-5,...,Very easy,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
1095,2014-08-29 18:39:07,36,male,United States,AL,Yes,No,Yes,Sometimes,1-5,...,Very difficult,No,No,No,No,No,No,No,Yes,NaN
1127,2014-08-30 20:55:11,-1,p,United States,AL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,password: testered
1186,2014-11-06 11:24:38,56,female,United States,OR,Yes,No,No,Rarely,1-5,...,Don't know,Maybe,Maybe,No,No,No,No,Don't know,No,I'm self-employed on contract with small start...
1250,2015-07-27 23:25:34,30,Male,United States,CA,Yes,Yes,Yes,Often,26-100,...,Don't know,No,No,Some of them,Yes,Maybe,Maybe,Yes,No,NaN

Question 1.2 - Find the number per state of people that have traits of mental health issues.

In [13]:
data['work_interfere'].value_counts()

Sometimes    286
Never        123
Rarely       109
Often         81
Name: work_interfere, dtype: int64

In [14]:
data['family_history'].value_counts()

No     416
Yes    324
Name: family_history, dtype: int64

In [15]:
data['treatment'].value_counts()

Yes    405
No     335
Name: treatment, dtype: int64

In [16]:
#Turn family_history and treatment to numerical values 
frequency=data[['state','family_history','treatment']].reset_index(drop=True)
di={'Yes':1.0,'No':0.0}
frequency.replace({'family_history': di,'treatment':di},inplace=True)
frequency

    state  family_history  treatment
0      IL             0.0        1.0
1      IN             0.0        0.0
2      TX             0.0        0.0
3      TN             1.0        0.0
4      MI             1.0        1.0
..    ...             ...        ...
735    UT             1.0        0.0
736    IL             1.0        1.0
737    CA             1.0        1.0
738    NC             0.0        0.0
739    IL             1.0        1.0

[740 rows x 3 columns]

In [17]:
frequency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           740 non-null    object
 1   family_history  740 non-null    float64
 2   treatment       740 non-null    float64
dtypes: float64(2), object(1)
memory usage: 17.5+ KB

In [18]:
frequency

    state  family_history  treatment
0      IL             0.0        1.0
1      IN             0.0        0.0
2      TX             0.0        0.0
3      TN             1.0        0.0
4      MI             1.0        1.0
..    ...             ...        ...
735    UT             1.0        0.0
736    IL             1.0        1.0
737    CA             1.0        1.0
738    NC             0.0        0.0
739    IL             1.0        1.0

[740 rows x 3 columns]

In [19]:
#Determine final value for mental health definition
frequency['rate']=2*frequency['family_history']+frequency['treatment']
frequency.to_csv('frequency.csv')
frequency

    state  family_history  treatment  rate
0      IL             0.0        1.0   1.0
1      IN             0.0        0.0   0.0
2      TX             0.0        0.0   0.0
3      TN             1.0        0.0   2.0
4      MI             1.0        1.0   3.0
..    ...             ...        ...   ...
735    UT             1.0        0.0   2.0
736    IL             1.0        1.0   3.0
737    CA             1.0        1.0   3.0
738    NC             0.0        0.0   0.0
739    IL             1.0        1.0   3.0

[740 rows x 4 columns]

In [20]:
rate=frequency[['state','rate']]
rate=rate.groupby('state').sum().reset_index()
rate

   state   rate
0     AL   17.0
1     AZ   12.0
2     CA  222.0
3     CO    8.0
4     CT    4.0
5     DC    5.0
6     FL   16.0
7     GA   18.0
8     IA    5.0
9     ID    3.0
10    IL   47.0
11    IN   37.0
12    KS    0.0
13    KY    3.0
14    LA    1.0
15    MA   20.0
16    MD    8.0
17    ME    3.0
18    MI   28.0
19    MN   30.0
20    MO   18.0
21    MS    1.0
22    NC   21.0
23    NE    3.0
24    NH    6.0
25    NJ    7.0
26    NM    0.0
27    NV    2.0
28    NY   74.0
29    OH   38.0
30    OK    6.0
31    OR   45.0
32    PA   46.0
33    RI    0.0
34    SC    4.0
35    SD    3.0
36    TN   72.0
37    TX   51.0
38    UT   14.0
39    VA   16.0
40    VT    2.0
41    WA  111.0
42    WI   23.0
43    WV    0.0
44    WY    3.0

In [21]:
rate.to_csv('rate')

In [ ]:
rate.sort_values(by='state', ascending=False,inplace=True,ignore_index=True)
rate

Question 1.1 - Where are the companies with the best infrastructure to deal with mental health issues?

In [3]:
companies=data[['state','benefits','care_options','wellness_program','seek_help']].reset_index(drop=True)

NameError: name 'data' is not defined

In [ ]:
companies

In [ ]:
for col in companies.columns:
    print(data[col].value_counts())

In [ ]:
di={'Yes':1.0,'No':0.0,'Don\'t know':-0.75,'Not sure':-0.75}
companies.replace({'benefits': di,'care_options':di,'wellness_program':di,'seek_help':di},inplace=True)

In [ ]:
companies

In [ ]:
companies['valuation']=3*companies['benefits']+2*(companies['seek_help']+companies['care_options'])+companies['wellness_program']
companies

In [ ]:
where=companies[['state','valuation']]
where=where.groupby('state').sum().reset_index()
where.sort_values(by='state', ascending=False,inplace=True,ignore_index=True)
where.rename(columns={'state':'loc'},inplace=True)
where

In [ ]:
benefits=companies.groupby('state').sum().reset_index()
benefits

In [ ]:
table=pd.concat([rate, where], axis=1)
table

In [ ]:
table.drop(columns=['loc'],inplace=True)

In [ ]:
table.sort_values(by='rate',ascending=False,inplace=True,ignore_index=True)

In [ ]:
table.to_csv('linear_regression.csv')

In [ ]:
table=table[table['rate']>=20]

In [ ]:
labels = table['state']
y = table['rate']
z = table['valuation']

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots(figsize=(20,5))
rects1 = ax.bar(x - width/2, y, width, label='Number of patients',color='darkcyan')
rects2 = ax.bar(x + width/2, z, width, label='Resources',color='blue')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Scores')
ax.set_title('Scores by state')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()

def autolabel(rects):
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)

fig.tight_layout()

plt.savefig("number_of_patients_vs_resources")

plt.show()

In [ ]:
benefits

In [ ]:
df=companies[['state','benefits']]

In [ ]:
df=df[df['benefits']==1.0]
df=df.groupby('state').sum().reset_index()

In [ ]:
df

In [ ]:
lst=list(table['state'])
lst

In [ ]:
df

In [ ]:
element=data[['state','benefits','care_options','wellness_program','seek_help']].reset_index(drop=True)

In [ ]:
element.to_csv('elements')