In [5]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
ds=pd.read_csv('survey.csv')

len(ds)

1259

In [63]:
#The workers who are not scary for say the True, It is filter by obs_consequence, mental_vs_physical,phys_health_interview
ds1=ds[ds['obs_consequence']=='No']

ds2=ds1[ds1['mental_vs_physical']=='No']
ds3=ds2[ds2['phys_health_interview']=='No']
ds4=ds3[ds3['phys_health_consequence']=='No']
ds5=ds4[ds4['mental_health_consequence']=='No']
ds5

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,...,Don't know,No,No,No,No,No,No,No,No,NaN
28,2014-08-27 11:38:12,34,male,United States,OH,No,No,Yes,Sometimes,26-100,...,Somewhat difficult,No,No,Some of them,No,No,No,No,No,NaN
82,2014-08-27 12:02:52,30,male,Canada,NaN,No,No,No,Never,26-100,...,Don't know,No,No,Some of them,Yes,No,No,No,No,NaN
174,2014-08-27 12:49:30,34,Female,Canada,NaN,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat easy,No,No,Some of them,Yes,No,No,No,No,NaN
340,2014-08-27 14:38:54,35,Male,United States,MI,No,No,No,NaN,26-100,...,Don't know,No,No,Yes,Yes,No,No,No,No,NaN
354,2014-08-27 14:52:53,25,Female,Sweden,NaN,No,Yes,No,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,No,No,No,NaN
355,2014-08-27 14:53:11,31,Male,United States,CA,No,No,Yes,Sometimes,500-1000,...,Don't know,No,No,Some of them,No,No,No,No,No,NaN
564,2014-08-27 19:34:26,40,Male,Canada,NaN,No,No,No,Never,26-100,...,Somewhat difficult,No,No,Some of them,Some of them,No,No,No,No,NaN
627,2014-08-28 02:17:42,34,male,United States,CA,Yes,Yes,Yes,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Some of them,No,No,No,No,thanks for what you're doing. FYI these questi...
728,2014-08-28 10:24:19,29,Male,United States,MN,No,No,No,NaN,More than 1000,...,Don't know,No,No,Yes,Yes,No,No,No,No,NaN
839,2014-08-28 16:52:23,36,M,United States,PA,No,No,No,Rarely,More than 1000,...,Somewhat difficult,No,No,Some of them,Yes,No,No,No,No,NaN

In [54]:
# we can see almost the only countries that give security for show mental health are Canada and USA
# and the age is between 30-40 years aprox

In [86]:
# In this case we can see wellness_program and benefits are related because the people is not scary to say the true
ds5[['benefits','wellness_program']]
beneds5= ds5[ds5['benefits']==ds5['wellness_program']]
round(len(beneds5)/len(ds5)*100,2)

81.82

In [78]:
# but in all the poplation there is not the same relation
ds[['benefits','wellness_program']].head()

     benefits wellness_program
0         Yes               No
1  Don't know       Don't know
2          No               No
3          No               No
4         Yes       Don't know

In [82]:

benefitss= ds[ds['benefits']==ds['wellness_program']]
round(len(benefitss)/len(ds)*100,2)

50.2

In [107]:


#How many cases are in treatment and have benefits???


benetreat= ds[ds['benefits']==ds['treatment']]
len(benetreat)

498

In [108]:
#Porcentage cases wich in tratment with benefits

treat= ds[ds['treatment']=='Yes']
len(treat)
round(len(benetreat)/len(treat)*100,2)

78.18

In [115]:
#Porcentage if you have benefits how many are in tratement.

bene= ds[ds['benefits']=='Yes']
round(len(bene)/len(benetreat)*100,2)

95.78

In [ ]:
#TREATMENT fenales VS males

In [15]:
#Number of fenales
females=len(ds[ds['Gender']=='female'])+len(ds[ds['Gender']=='Female'])+len(ds[ds['Gender']=='f'])+len(ds[ds['Gender']=='F'])
females

236

In [16]:
#Number of males
males=len(ds[ds['Gender']=='male'])+len(ds[ds['Gender']=='Male'])+len(ds[ds['Gender']=='m'])+len(ds[ds['Gender']=='M'])
males

971

In [17]:
#crazy people the half of this population is in treatment
crazy=ds[ds['treatment']=='Yes']
len(crazy)/len(ds)*100

50.5957108816521

In [18]:
#crazy females
crazy_females=len(crazy[crazy['Gender']=='female'])+len(crazy[crazy['Gender']=='Female'])+len(crazy[crazy['Gender']=='f'])+len(crazy[crazy['Gender']=='F'])
crazy_females

165

In [19]:
#crazy males
crazy_males=len(crazy[crazy['Gender']=='male'])+len(crazy[crazy['Gender']=='Male'])+len(crazy[crazy['Gender']=='m'])+len(crazy[crazy['Gender']=='M'])
crazy_males

440

In [25]:

fem=crazy_females/females*100
print(round(fem, 2))
print(round(crazy_males/males*100,2))

#Treatment per genre %
#almost the 70% of the females are in treatment and the males in treatlent are 45% in this population

69.92
45.31

In [47]:
#wich types companys have more benefits??


#CONCLUSION == The biggest companys have more benefits

#Companys '1-5'

verysmallbenefits=len(benefits[benefits['no_employees']=='1-5'])
verysmallCO=len(ds[ds['no_employees']=='1-5'])

round(verysmallbenefits/verysmallCO*100,2)

11.73

In [48]:
#Companys '6-25'

smallbenefits=len(benefits[benefits['no_employees']=='6-25'])
smallCO=len(ds[ds['no_employees']=='6-25'])

round(smallbenefits/smallCO*100,2)

20.69

In [49]:
#Companys '26-100'

mediumbenefits=len(benefits[benefits['no_employees']=='26-100'])
mediumCO=len(ds[ds['no_employees']=='1-5'])

round(mediumbenefits/mediumCO*100,2)

62.35

In [51]:
#Companys 'More than 1000'

bigbenefits=len(benefits[benefits['no_employees']=='More than 1000'])
bigCO=len(ds[ds['no_employees']=='More than 1000'])

round(bigbenefits/bigCO*100,2)

64.89