In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv('frequency.csv',index_col=[0])

In [7]:
pie=data[['state','rate']]
pie=pie.groupby('state').sum().reset_index()
pie

   state   rate
0     AL   17.0
1     AZ   12.0
2     CA  222.0
3     CO    8.0
4     CT    4.0
5     DC    5.0
6     FL   16.0
7     GA   18.0
8     IA    5.0
9     ID    3.0
10    IL   47.0
11    IN   37.0
12    KS    0.0
13    KY    3.0
14    LA    1.0
15    MA   20.0
16    MD    8.0
17    ME    3.0
18    MI   28.0
19    MN   30.0
20    MO   18.0
21    MS    1.0
22    NC   21.0
23    NE    3.0
24    NH    6.0
25    NJ    7.0
26    NM    0.0
27    NV    2.0
28    NY   74.0
29    OH   38.0
30    OK    6.0
31    OR   45.0
32    PA   46.0
33    RI    0.0
34    SC    4.0
35    SD    3.0
36    TN   72.0
37    TX   51.0
38    UT   14.0
39    VA   16.0
40    VT    2.0
41    WA  111.0
42    WI   23.0
43    WV    0.0
44    WY    3.0